
body {
    text-align: center;
    background-color: rgb(233,215, 207);
    margin: 50px;
    font-family: 'Fira Sans',sans-serif;
}
h1 {
    font-family: 'Roboto';
    
}


p{

  font-family: 'Fira Sans';
  
    
    
}
a{
    color: rgb(135, 1, 78);
    text-decoration: none;
    font-family: 'Fira Sans';
    font-size: 20px;
}


img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
